body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #773575;
  width: 1920px;
  height: 1080px;

}

* {
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.container {
  display: flex;
  width: 100vw; /* Полная ширина экрана */
  height: 100vh; /* Полная высота экрана */
  position: relative;
}

.square {
  width: 50%; /* Максимальная ширина квадрата */
  height: 1080px; /* Максимальная высота квадрата */
  background-color: #773575;
}

/* Медиазапросы для адаптации на маленьких экранах */
@media (max-width: 600px) {
  .square {
    width: 70vw; /* Ширина квадрата - 70% от ширины экрана на маленьких экранах */
    height: 70vw; /* Высота квадрата - 70% от ширины экрана на маленьких экранах */
  }
}

@media (max-height: 600px) {
  .square {
    width: 70vh; /* Ширина квадрата - 70% от высоты экрана на маленьких экранах */
    height: 70vh; /* Высота квадрата - 70% от высоты экрана на маленьких экранах */
  }
}

.Heading {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  display: flex;
  margin: 0 auto;
}

.list {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  padding: 25px;
}

.Inbox {
  display: flex;
  width: 500px; /* Максимальная ширина квадрата */
  height: 700px; /* Максимальная высота квадрата */
  margin-left: 10%;
  margin-top: 5%;
}

@media (max-width: 600px) {
  .Inbox {
    width: 70vw; /* Ширина квадрата - 70% от ширины экрана на маленьких экранах */
    height: 70vw; /* Высота квадрата - 70% от ширины экрана на маленьких экранах */
  }
}

@media (max-height: 600px) {
  .Inbox {
    width: 70vh; /* Ширина квадрата - 70% от высоты экрана на маленьких экранах */
    height: 70vh; /* Высота квадрата - 70% от высоты экрана на маленьких экранах */
  }
}

.orb {
  font-size: 55px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
}

.ysp {
  font-size: 100px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  margin-top: -40px;
}

.n {
  font-size: 23px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  margin-top: 5px;
  letter-spacing: 1px;
}

.Inbox2 {
  display: flex;
  width: 360px; /* Максимальная ширина квадрата */
  height: 125px; /* Максимальная высота квадрата */
  margin-left: -5px;
  margin-top: 3%;
}

hr {
  width: 2px;
  height: 110px;
  background-color: white;
  margin-left: 0%;
}

.Opsis {
  font-family: "Murecho", sans-serif;
  color: white;
  margin-left: 4%;
  margin-top: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
}

.ButtonAuth {
  display: flex;
  width: 310px; /* Максимальная ширина квадрата */
  height: 70px; /* Максимальная высота квадрата */
  margin-left: 5px;
  margin-top: 5%;
}

.buttonAu {
  background-color: #eeab81;
  border-radius: 365px;
  width: 310px;
  height: 60px;
  text-align: center;
  font-family: "Murecho", sans-serif;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.buttonAu:hover {
  background-color: #cc9471;
  border-radius: 365px;
  width: 310px;
  height: 60px;
  text-align: center;
  font-family: "Murecho", sans-serif;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.buttonAu:active {
  background-color: #9c7257;
  border-radius: 365px;
  width: 310px;
  height: 60px;
  text-align: center;
  font-family: "Murecho", sans-serif;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}
